@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: #222629;
  font-size: 100%;
}

/* ROOT FONT STYLES */
* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #dde7ed;
  line-height: 1.5;
}

/* TYPOGRAPHY */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {

  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {

  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* Navigation Bar*/
.col-12 li {
  margin-top: -5rem;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 2px;
}

.col-12 li a {
  display: block;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Bebas Neue";
  margin-left: 10px;
  margin-right: 10px;
  font-size: 19px;
}

.col-12 li a:hover {
  background-color: #86c232;
  border-radius: 2px;
}

.activemenu {
  background-color: #86c232;
}

/* End of Navigation Bar*/
/*Title*/
.col-12 h1 {
  color: #86c232;
  font-family: 'Bangers';
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.l {
  font-family: 'Bangers';
  color: rgb(190, 197, 200);
  font-size: 5rem;
  font-weight: 500;
}

@media(max-width: 56.25rem) {
  .l {
    font-size: 4rem;
  }
}

.col-12 h4 {
  margin-left: -0.8125rem;
  margin-top: -40px;
  font-weight: 200;
}

#initiative {
  font-family: courier new;
}
.roles{
  font-weight: 600;
}

/*End of title*/
/*Grid for about section*/
.grid_about {
  display: grid;
  grid-template-columns: 14.75rem 14.75rem 14.75rem 14.75rem;
  grid-template-rows: 14.75rem 14.75rem 14.75rem 14.75rem;
  margin-top: 4rem;
  grid-gap: 3rem;
}

@media(max-width : 56.25rem) {
  .grid_about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.a1 img,
.a2 img,
.a3 img,
.a4 img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.0);
  transition: transform 1s ease;
}

@media(max-width : 56.25rem) {

  .a1 img,
  .a2 img,
  .a3 img,
  .a4 img {
    width: 70%;
    height: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.a1 img:hover,
.a2 img:hover,
.a3 img:hover,
.a4 img:hover {
  transform: scale(1.2);
  box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.91);
}

@media (max-width : 56.25rem) {

  .a1 img:hover,
  .a2 img:hover,
  .a3 img:hover,
  .a4 img:hover {
    transform: scale(1.1);
  }
}

.t1, .t2, .t3, .t4 {
  grid-column: 2 / span 4;
  text-align: left;
  padding-left: 3rem;
}

@media(max-width : 56.25rem) {
  .t1, .t2, .t3, .t4 {
    text-align: center;
    padding-left: 0px;
  }

  .t1 h2, .t3 h2, .t2 h2, .t4 h2 {
    font-size: 1.3rem;
  }

  .t1 p, .t3 p, .t2 p, .t4 p {
    margin-top: -0.8rem;
    font-size: 0.865rem;
    padding-bottom: 3rem;
  }
}

/*Footer*/
.fa {
  padding: 2rem;
  font-size: 1.5rem;
  margin-top: 4rem;
  text-decoration: none;
  transform: scale(1.0);
  transition: transform 0.5s;
}

@media (max-width: 56.25rem) {
  .fa {
    padding: 1rem;
  }
}

.fa:hover {
  transform: scale(1.5);
}
